.hero {
    text-align: center;
    background-color: #3f51b5;
    color: white;
    padding: 50px 20px;
  }
  .features {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 40px 0;
  }
  .feature-card {
    width: 300px;
    padding: 20px;
  }
  .cta {
    margin-top: 20px;
  }
  
  mat-card-content{
    margin-top: 30px;
  }

  mat-card-title{
    font-size: 18px;
  }