    <mat-toolbar color="primary">
        <span>To-Do List</span>
      </mat-toolbar>
      <div class="hero">
        <h1>Organiza tu día con nuestra To-Do List</h1>
        <p>Gestión de tareas fácil y rápida con una interfaz amigable.</p>
        <button mat-raised-button color="accent" class="cta" [routerLink]="['/tareas/filtrar']" >Comenzar</button>
      </div>
      <div class="features">
        <mat-card class="feature-card">
          <mat-card-title>Fácil de Usar</mat-card-title>
          <mat-card-content>Una interfaz intuitiva para agregar y administrar tareas.</mat-card-content>
        </mat-card>
        <mat-card class="feature-card">
          <mat-card-title>Colaboración en Tiempo Real</mat-card-title>
          <mat-card-content>Trabaja junto a tu equipo y comparte tareas instantáneamente.</mat-card-content>
        </mat-card>
        <mat-card class="feature-card">
          <mat-card-title>Seguridad y Confianza</mat-card-title>
          <mat-card-content>Guarda tus tareas de forma segura en la nube.</mat-card-content>
        </mat-card>